/* 챌린지 전체를 감싸는 컨테이너 */
.challenges-container {
  margin-top: 120px;
}

/* 상단 별 위치 조정 */
.stars {
  width: 340px;
  height: 340px;
}

.stars-left-box {
  position: absolute;
  margin-top: -210px;
  margin-left: 240px;
  width: 50px;
  height: 50px;
}

.stars-right-box {
  position: absolute;
  margin-top: -210px;
  margin-left: 1305px;
  width: 50px;
  height: 50px;
}

/* 챌린지 목록 */
.challenges {
  margin-left: 150px;
  margin-right: 150px;
}

/* 최상단 제목 */
.challenge-list-title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  position: absolute;
  color: #FFD261;
  font-size: 35px;
  margin-left: 860px;
  top: 33px;
}