/* welcome 페이지 메시지 부분 */
.message {
  padding-top: 200px;
  color: #FFFFFF;
}

/* welcome 페이지의 중앙 요소를 감싸는 부분 */
.welcome-container {
  padding-top: 100px;
  padding-bottom: 120px;
  width: 100%;
}

/* ssazip CSS */
.ssazip {
  width: 201px;
  height: 260px;
  margin-bottom: 20px;
}

/* 여기서부터 별 크기 및 위치 조정 CSS */
/* position: absolute를 통해 위치 조정 */
/* 별 바깥은 하나의 박스로 감싸서 위치 조정을 용이하게 만듦 : 이렇게 안 하면 좌우 조정이 잘 안 됨! */
.star1-box {
  position: absolute;
  margin-top: 190px;
  margin-left: 170px;
  width: 50px;
  height: 50px;
}

.star1 {
  width: 50px;
  height: 50px;
}

.star2-box {
  position: absolute;
  margin-top: 190px;
  margin-left: 320px;
  width: 50px;
  height: 50px;
}

.star2 {
  width: 50px;
  height: 50px;
}

.star3-box {
  position: absolute;
  margin-top: 230px;
  margin-left: 250px;
  width: 50px;
  height: 50px;
}

.star3 {
  width: 50px;
  height: 50px;
}