#main_header {
  width: 1612px;
  margin: 0 auto;
  height: 160px;
  position: relative;
}

#body {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.ChallengeDetail {
  /* width: 580px;
    height: 650px; */
  width: 93%;
  height: 55%;
  margin: auto;
  padding: auto;
  border-radius: 33px;
  background-color: #ffffff;

  margin-top: 3%;
  box-shadow: 8px 8px 8px #f9d479;
}

.ChallengeTicket {
  /* margin-bottom: 10px;
  padding: 20px;
   */
  width: 97%;
  height: 250px;
  margin: auto;
  padding: auto;

  margin-top: 2%;
}

.ticketbody {
  width: 100%;
  height: 100%;
}

/* .ticketbody {
  width: 100%;
  height: 100%;
} */

.justify-content-center {
  justify-content: center !important;
}
.outline {
  /* width: 580px;
  height: 650px; */
  width: 93%;
  height: 93%;
  margin: auto;
  padding: auto;
  border-radius: 33px;
  border: 3px solid #4c67aa;

  padding: auto;
  margin-top: 3%;
}

.outline2 {
  /* width: 500px;
  height: 600px; */
  width: 500px;
  height: 540px;
  margin: auto;
  padding: auto;

  position: absolute;
}

.table {
  width: 100%;
  height: 100%;
  /* border-radius: 33px; */
  margin: 6.8%;
  padding: 5%;
  background-color: #ffffff;
}

.col-4 {
  /* flex: 0 0 25%; */
  /* max-width: 100%; */
  width: 780px;
  height: 680px;
  border-radius: 33px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 50px;
}

.col-5 {
  /* flex: 0 0 25%; */
  /* max-width: 100%; */
  width: 785px;
  height: 680px;
  border-radius: 33px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  padding: 8px;
}

.flex_container {
  display: flex;
  margin-top: 90px;
}

/* 가입하기 버튼 */
.Cjoin_btn .btn-secondary {
  color: #1f4256;
  background-color: #99b7ff;
  border-color: #99b7ff;
  font-size: 25px;
  font-weight: bold;
  width: 171px;
  height: 54px;
  margin-right: 69%;
  margin-bottom: 5px;
}

/* 가입완료 버튼 */
.Cjoindone_btn .btn-secondary {
  color: #1f4256;
  background-color: #f9d479;
  border-color: #f9d479;
  font-size: 25px;
  font-weight: bold;
  width: 171px;
  height: 54px;
  margin-right: 69%;
  margin-bottom: 5px;
}

.Ctitle {
  margin-top: 20px;
  width: 90%;
  height: 89%;
}

.title-text {
  font-size: 30px;
  font-weight: bold;
  color: #420909;
}

.table > thead {
  background-color: #99b7ff;
  /* border-radius: 33px; */
}

.stars {
  width: 340px;
  height: 340px;
}

.stars-box {
  position: absolute;
  margin-top: -180px;
  margin-left: 1305px;
  width: 50px;
  height: 50px;
}

.challengetitle {
  position: absolute;
  left: auto;
  margin-top: -100px;
  margin-left: 10%;
}

.Cdetail {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: auto;
  padding-top: 30px;
  text-align: left;
  /* background-color: antiquewhite; */
  overflow: scroll;
}

.Cdetail::-webkit-scrollbar {
  display: none;
}

#uploadimg {
  width: 50%;
  padding: 2rem;
}

.file-input {
  display: none;
}

.upload-image {
  padding-top: 1rem;
  width: 200px;
  height: 200px;
}

img {
  width: 100%;
  height: 100%;
}