/* 모달창 높이 조정 */
.modal {
  margin-top: 250px;  
}

/* 모달창 디자인 */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #99B7FF !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem !important;
  outline: 0;
}

.close {
  display: none;
}

.modal-header {
  padding: 0rem 0rem !important;
  border-style: none !important;
}

.modal-body {
  padding-top: 2rem !important;
  padding-bottom: 0px !important;
}

.modal-footer {
  border-style: none !important;
  padding-top: 0px !important;
}

/* 입력칸 라벨 위치 및 폰트 굵기 조정 */
.d-block {
  margin-top: 5px;
  margin-right: 8px;
  font-weight: bolder;
}

/* 입력칸 너비 및 모서리 둥글기 조정 + 폰트 설정 */
.form-control {
  font-family: 'Noto Sans KR', sans-serif;
  width: 70% !important;
  border-radius: 0.5rem !important;
}

/* 체크박스 영역 설정 */
.custom-checkbox {
  margin-top: 12px;
}

.custom-control-label {
  font-family: 'Noto Sans KR', sans-serif;
}

.custom-control-input {
  margin-left: 95px;
  margin-right: 5px;
}

/* 로그인 버튼 */
.btn-primary {
  color: #FFFFFF !important;
  background-color: #1C84C4 !important;
  border-color: #1C84C4 !important;
  font-weight: bold !important;
  margin-right: 48px !important;
  border-radius: 6px !important;
}

/* 로그인 버튼 색 변경 방지 */
.btn-primary:hover {
  color: #FFFFFF;
  background-color: #1C84C4;
  border-color: #1C84C4;
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #FFFFFF !important;
  background-color: #1C84C4 !important;
  border-color: #1C84C4 !important;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #FFFFFF !important;
  background-color: #1C84C4 !important;
  border-color: #1C84C4 !important;
  box-shadow: none !important;
}