/* 모달창 높이 조정 */
.modal {
  margin-top: 50px;
}

/* 모달창 디자인 */
.modal-content {
  position: absolute;
  margin-left: -300px;
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 790px;
  pointer-events: auto;
  background-color: #99b7ff !important;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border-radius: 1rem !important;
  outline: 0;
}

.close {
  display: none;
}

.modal-header {
  padding: 0rem 0rem !important;
  border-style: none !important;
}

.modal-body {
  padding-top: 2rem !important;
  padding-bottom: 0px !important;
}

.modal-footer {
  border-style: none !important;
  padding-top: 0px !important;
}

/* 입력칸 라벨 위치 및 폰트 굵기 조정 */
.d-block {
  margin-top: 5px;
  margin-right: 8px;
  font-weight: bolder;
}

/* 입력칸 너비 및 모서리 둥글기 조정 + 폰트 설정 */
.form-control {
  font-family: "Noto Sans KR", sans-serif;
  width: 70% !important;
  border-radius: 0.5rem !important;
}

/* 체크박스 영역 설정 */
.custom-checkbox {
  margin-top: 12px;
}

.custom-control-label {
  font-family: "Noto Sans KR", sans-serif;
}

.custom-control-input {
  margin-left: 95px;
  margin-right: 5px;
}

/* 로그인 버튼 */
.btn-primary {
  color: #ffffff !important;
  background-color: #1c84c4 !important;
  border-color: #1c84c4 !important;
  font-weight: bold !important;
  margin-right: 48px !important;
  border-radius: 6px !important;
}

/* 로그인 버튼 색 변경 방지 */
.btn-primary:hover {
  color: #ffffff;
  background-color: #1c84c4;
  border-color: #1c84c4;
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #ffffff !important;
  background-color: #1c84c4 !important;
  border-color: #1c84c4 !important;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #ffffff !important;
  background-color: #1c84c4 !important;
  border-color: #1c84c4 !important;
  box-shadow: none !important;
}

.Tleft {
  /* flex: 0 0 25%; */
  /* max-width: 100%; */
  width: 100%;
  height: 10%;
  border-radius: 33px;
  background-color: #ffffff;
  margin-right: 50px;
  margin-bottom: 12px;
  box-shadow: 8px 8px 8px #4c67aa;
}

.Dleft {
  /* flex: 0 0 25%; */
  /* max-width: 100%; */
  width: 100%;
  height: 88%;
  border-radius: 33px;
  background-color: #ffffff;
  margin-right: 50px;
  box-shadow: 8px 8px 8px #4c67aa;
}

.left {
  /* flex: 0 0 25%; */
  /* max-width: 100%; */
  margin-top: 20px;
  width: 45%;
  height: 680px;
  border-radius: 33px;
  margin-right: 50px;
}

.right {
  /* flex: 0 0 25%; */
  /* max-width: 100%; */
  margin-top: 20px;
  width: 40%;
  height: 680px;
  border-radius: 33px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.55);
  box-shadow: 8px 8px 8px #4c67aa;
  margin-bottom: 10px;
}

.btn-secondary {
  color: #ffffff !important;
  background-color: #f53535;
  border-color: #f53535;
  font-weight: bold !important;
}

/* !important 하면 적용은 되는데 가입하기에도 적용이되고
지금 로그인 모달에도 영향이 가는데 새로 css를 만들어줬는데 왜.. */
