/* 폰트 등록 */
@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 챌린지 티켓 */
.challenge {
  background:url('../../../assets/challenge_ticket.png');
  background-repeat: no-repeat;
  width: 370px;
  height: 250px;
  padding-top: 55px;
  margin-left: 8px;
  cursor: pointer;
}

/* 챌린지 이름 */
.challenge-name {
  font-family: 'GongGothicMedium';
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

/* 챌린지 내용 */
.challenge-content {
  font-family: 'GongGothicMedium';
  text-align: left;
  margin-left: 68px;
  font-size: 16px;
}

.challenge-star {
  /* color: gold; */
  color: #FFED47;
}

/* 마우스 오버 시에 티켓 커지게 하기 */
.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.scale:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}