/* 챌린지 티켓 */
.challenge {
  background:url('../../../assets/challenge_ticket.png');
  background-repeat: no-repeat;
  width: 370px;
  height: 250px;
  padding-top: 55px;
  margin-left: 8px;
}

/* 챌린지 이름 */
.challenge-name {
  font-weight: bold;
  font-size: 20px;
}

/* 챌린지 내용 */
.challenge-content {
  /* font-family: 'Noto Sans KR', sans-serif; */
  /* font-weight: bold; */
  text-align: left;
  margin-left: 55px;
  font-size: 16px;
}